@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background: url('https://wallpaperaccess.com/full/4384878.jpg'); background-size: 50%; background-repeat: no-repeat; background-position:center; background-color:peachpuff ; ">

 </body>